body{
    background-color: rgb(161, 241, 215);
    color: blue;
}
#encabezado{
    background-color: #ffff;
    width: 90%;
    border-radius: 30px;
}
.flex{
    width: 80%;
    height: 80px;
}
.carta{
    width: 40%;
    height: 350px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 15px #0c0c0c;
}

.floi{
    width: 40%;
    height: 30px;
    font-size: 20px;
}